//
   Created by Illusion on 2015-05-22.

extends layout
block content
   div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/paper", method="post", enctype="multipart/form-data")
            fieldset
               div(class="page-header")
                  h3 Dodaj referat
               div(class="form-group")
                  label(for="name", class="col-lg-2 control-label") Nazwa referatu
                  div(class="col-lg-10")
                     input(id="name", type="text", class="form-control", placeholder="Nazwa", name="nazwa")
               div(class="form-group")
                  label(for="file", class="col-lg-2 control-label") Plik referatu
                  div(class="col-lg-10")
                     input(id="file", type="file", class="form-control", name="plik")
               div(class="form-group")
                  label(for="sesja", class="col-lg-2 control-label") Sesja
                  div(class="col-lg-10")
                     select(class="form-control", id="select", placeholder="Default input")
                        each val in ['sesja1','sesja2','sesja3','sesja5']
                           option= val
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     button(type="submit", class="btn btn-primary") Dodaj
