doctype html
html
  head
    title Projekt z baz
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  body
      nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
            div(class="navbar-header")
                a(class="navbar-brand", href="/") Projekt z baz
            div(class="collapse navbar-collapse")
                ul(class="nav navbar-nav")
                    if currentUser && currentUser.adm
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Menu administracji
                                span(class="caret")
                            ul(class="dropdown-menu multi-level" role="menu")
                                li(class="dropdown-submenu")
                                    a(href="#") Użytkownicy
                                    ul(class="dropdown-menu" role="menu")
                                        li: a(href="/add_user") Dodawanie użytkownika
                                        li: a(href="/list_users") Modyfikacja użytkownika
                                li(class="dropdown-submenu")
                                    a(href="#") Referaty
                                    ul(class="dropdown-menu" role="menu")
                                        li: a(href="/add_paper") Dodaj referat
                                        li: a(href="/list_paper") Lista referatów
                                li(class="dropdown-submenu")
                                    a(href="#") Raporty
                                    ul(class="dropdown-menu" role="menu")
                                        li: a(href="/report_users") Raport o użytkownikach
                                        li: a(href="/report_articles") Raport o artykułach
                                        li: a(href="/report_accommodation") Raport o zakwaterowaniu
                                        li: a(href="/report_reviewers") Raport o obciążeniu recenzentów
                                        li: a(href="/report_review") Raport o wystawionych recenzjach
                                li(class="dropdown-submenu")
                                    a(href="#") Recenzje
                                    ul(class="dropdown-menu" role="menu")
                                         li: a(href="/review_browse") Pokaż recenzje
                                         li: a(href="/review_edition") Edytuj recenzje
                                         li: a(href="/review_delete") Usun recenzje
                                li(class="dropdown-submenu")
                                    a(href="#") Konferencje
                                    ul(class="dropdown-menu" role="menu")
                                        li: a(href="/conference/conference_add") Dodaj konferencje
                                        li: a(href="/conference/conference_info") Edytuj konferencje
                                        li: a(href="/conference/registration_for_participation") Dolacz do konferencji
                                        li: a(href="/conference/conference_participants_list") Lista osob dopisanych do konferencji
                                        li: a(href="/conference/session_add") Dodaj sesje
                                        li: a(href="/conference/session_list") Edytuj sesje
                                        li: a(href="/hotel/add_hotel") Dodaj hotel
                                        li: a(href="/hotel/list_hotel") Edytuj hotel
                                li(class="dropdown-submenu")
                                    a(href="#") Opłaty
                                    ul(class="dropdown-menu" role="menu")
                                        li: a(href="/charges/choose_conference") Zarządzaj opłatami konferencji
                                        li: a(href="/charges/choose_conferenceu") Zarządzaj opłatami uczestnika
                    if currentUser
                        li(class="dropdown")
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Menu
                                span(class="caret")
                            ul(class="dropdown-menu" role="menu")
                                li: a(href="/conference/registration_for_participation") Dołącz do konferencji
                                li: a(href="/review_browse") Przeglądaj recenzje
                                if currentUser && currentUser.uczestnik
                                    li: a(href="/send_paper") Wyśij referat
                                    li: a(href="/list_user_paper") Lista dodanych referatów
                ul(class="nav navbar-nav navbar-right")                    
                    if currentUser                
                        li: p(class="navbar-text") Witaj #{currentUser.imie}!
                        li(class="active"): a(href="/logout") Wyloguj
                    else
                        li(class="active"): a(href="/register") Zarejestruj się
                        li: a(class="pull-left", href="/login")
                            img(src="/icons/lock.svg")
                            | Zaloguj się
    div(class="container")
        div(class="row")
            div(class="col-lg-offset-1 col-lg-10")
                if message !== undefined
                    div(class="alert alert-dismissible alert-info")
                        p= message
                block content