
extends layout
block content
    center
        br
        h1 Edytuj recenzje
        br
        table(class="table")
            thead
                tr
                    th id
                    th Nazwa
                    th 
            tbody
                each temp in review
                    tr
                        td=temp.id_recenzja
                        td=temp.nazwa
                        td: a(href="/review/" + temp.id_recenzja) Podgląd
                        td: a(href="/review_edit/" + temp.id_recenzja) Edycja
