doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
body    
    h1= "Aktualny kalendarz wystąpien"
    div(class="row")
            div(class="col-lg-10")
                table(class= "table table-bordered")
                    thead
                        tr
                                th Imię 
                                th Nazwisko 
                                th Tytuł referatu
                                th Nazwa sesji
                                th Nazwa konferencji
                                th Data rozpoczęcia konferencji
                            each tmp1 in kalendarz
                                tr
                                    td= tmp1.imie
                                    td= tmp1.nazwisko
                                    td= tmp1.nazwarf
                                    td= tmp1.nazwas
                                    td= tmp1.nazwak
                                    th= tmp1.data