
extends ../layout
block content
   div(class="row")
     div(class="col-lg-8")
        form(class="form-horizontal", action="/edit_paper/" + edit_paper.id_referat, method="post")
            fieldset
               h3= "Edytuj referat"
               div(class="form-group")
                  label(for="dodaj", class="col-lg-2 control-label") Nazwa referatu
                  div(class="col-lg-10")
                     input(id="nazwa", type="text", class="form-control", placeholder="Nazwa", name="nazwa" value=edit_paper.nazwa)
               div(class="form-group")
                  label(for="dodaj", class="col-lg-2 control-label") Tresc
                  div(class="col-lg-10")
                    textarea(class="form-control",id="Tresc", rows="10",name="tresc" ) #{edit_paper.tresc}
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     button(type="submit", class="btn btn-primary") Edytyj
                     