
extends ../layout
block content
    div(class="page-header")
        h3 Panel recenzenta
    div(class="row")
        div(class="col-lg-8")
            h4 Przydzielone referaty
            table(class="table table-striped table-hover")
                thead
                    tr
                        th Nazwa
                        th Recenzuj
                tbody
                    each paper in papers
                        tr
                            td: a(href='/paper/' + paper.id_referat)= paper.nazwa
                            td: a(href='/send_review/' + paper.id_przypisania) +
        div(class="col-lg-4")
            h4 Twoje recenzje
            ul(class="list-group")
                each review in reviews
                    li(class="list-group-item")
                        span(class="badge")
                            img(src="icons/comment.svg")
                            | &nbsp;
                            b= review.ilosc_komentarzy
                        a(href='/review/' + review.id_recenzja) #{review.nazwa}