extends ../layout

mixin mark_select(name)
    - oceny = ['Niedostateczna','Dostateczna','Dobra','Bardzo dobra']
    select(class="form-control", id="select", name=name)
        - oceny.forEach(function(ocena, i) {
            option(value=i)= ocena
        - })    

block content
    div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/review/" + id, method="post")
            fieldset
               div(class="page-header")
                  h3 Dodaj recenzję
               if error
                  div(class="alert alert-dismissible alert-danger"): p= error  
               div(class="form-group")
                  label(for="name", class="col-lg-2 control-label") Nazwa
                  div(class="col-lg-10")
                     input(id="name", type="text", class="form-control", name="nazwa")
               div(class="form-group")
                  label(for="review", class="col-lg-2 control-label") Recenzja
                  div(class="col-lg-10")
                     textarea(id="review", class="form-control", name="tresc")
               h3 Oceń referat
               div(class="form-group")
                 label(for="rating", class="col-lg-2 control-label") Zgodność z tematem
                 div(class="col-lg-10")
                    +mark_select('zgod')
               div(class="form-group")
                   label(for="rating", class="col-lg-2 control-label") Oryginalność
                   div(class="col-lg-10")
                    +mark_select('oryg')
               div(class="form-group")
                   label(for="rating", class="col-lg-2 control-label") Jakość
                   div(class="col-lg-10")
                    +mark_select('jakosc')
               div(class="form-group")
                   label(for="rating", class="col-lg-2 control-label") Poprawność
                   div(class="col-lg-10")
                    +mark_select('popr')
               div(class="form-group")
                       label(for="inputPrawa", class="col-lg-2 control-label") Dodatkowe opcje
                       div(class="col-lg-10")
                            div(class="checkbox")
                                label
                                    input(type="checkbox",id="inputOpcje", name="zatwierdz")
                                    | Zatwierdź do publikacji
                            div(class="checkbox")
                                label
                                    input(type="checkbox",id="inputOpcje", name="wyroznij")
                                    | Wyróżnij
                            div(class="checkbox")           
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     button(type="submit", class="btn btn-primary") Dodaj
