//
   Created by Doniu on 2015-05-16.

extends ../layout
block content
    div(class="row")
        div(class="col-lg-8")
            form(class="form-horizontal", action="/edit_user/" + edited_user.id_uzytkownika, method="post")
                fieldset
                    div(class="page-header")
                        h3 Formularz modyfikacji danych osobowych
                    div(class="form-group")
                        font(color="red") * - Pola oznaczone gwiazdka sa wymagane
                    div(class="form-group")
                        label(for="email", class="col-lg-2 control-label") Email *
                        div(class="col-lg-10")
                            input(type="email",id="email" class="form-control",maxlength="30", name="email", required="required", value=edited_user.email)
                    div(class="form-group")
                        label(for="inputSurname", class="col-lg-2 control-label") Nazwisko *
                        div(class="col-lg-10")
                            input(type="text",id="inputSurname", class="form-control", name="nazwisko", minlength="4", maxlength="45",required="required", value=edited_user.nazwisko)
                    div(class="form-group")
                        label(for="inputName", class="col-lg-2 control-label") Imię *
                        div(class="col-lg-10")
                            input(type="text",id="inputName", class="form-control", name="imie",minlength="4", maxlength="20",required="required",  value=edited_user.imie)
                    div(class="form-group")
                        label(for="inputAdress", class="col-lg-2 control-label") Adres
                        div(class="col-lg-10")
                            input(type="text",id="inputAdress", class="form-control", name="adres", maxlength="45" value=edited_user.adres)
                    div(class="form-group")
                        label(for="inputPhone", class="col-lg-2 control-label") Numer tel
                        div(class="col-lg-10")
                            input(type="number",id="inputPhone", class="form-control", name="phone", value=edited_user.nr_tel)
                    div(class="form-group")
                        label(for="inputFirma", class="col-lg-2 control-label") Firma
                        div(class="col-lg-10")
                            input(type="text",id="inputFirma", class="form-control",maxlength="45", name="firma", value=edited_user.firma)
                    div(class="form-group")
                        label(for="inputPrawa", class="col-lg-2 control-label") Prawa
                        div(class="col-lg-10")
                            div(class="checkbox")
                                label
                                if(edited_user.uczestnik === 1)
                                    input(type="checkbox",disabled="disabled", id="inputPrawa", name="uczestnik", checked="")
                                    | Uczestnik
                                else
                                    input(type="checkbox",disabled="disabled", id="inputPrawa", name="uczestnik")
                                    | Uczestnik
                            div(class="checkbox")
                                label
                                if(edited_user.recenzent === 1)
                                    input(type="checkbox",id="inputPrawa", name="recenzent", checked="")
                                    | Recenzent
                                else
                                    input(type="checkbox",id="inputPrawa", name="recenzent")
                                    | Recenzent
                            div(class="checkbox")
                                label
                                if(edited_user.adm === 1)
                                    input(type="checkbox",id="inputPrawa", name="admin", checked="")
                                    | Admin
                                else
                                    input(type="checkbox",id="inputPrawa", name="admin")
                                    | Admin
                    div(class="form-group")
                        label(class="col-lg-2 control-label") Opłata
                        div(class="col-lg-10")
                            div(class="radio")
                                label
                                if(edited_user.oplaty >= 1)
                                    input(type="radio", name="optionsOplata", value="dokonano" checked="")
                                    | Dokonano wpłaty
                                else
                                    input(type="radio", name="optionsOplata", value="dokonano")
                                    | Dokonano wpłaty
                            div(class="radio")
                                label
                                if((edited_user.oplaty === 0) || (edited_user.oplaty === null) )
                                    input(type="radio", name="optionsOplata", value="nie_dokonano" checked="")
                                    | Nie dokonano wpłaty
                                else
                                    input(type="radio", name="optionsOplata", value="nie_dokonano")
                                    | Nie dokonano wpłaty
                    div(class="form-group")
                        label(class="col-lg-2 control-label") Status
                        div(class="col-lg-10")
                            div(class="radio")
                                label
                                if(edited_user.aktywny === 1)
                                    input(type="radio", name="optionsStatus", value="aktywny" checked="")
                                    | Aktywny
                                else
                                    input(type="radio", name="optionsStatus", value="aktywny")
                                    | Aktywny
                            div(class="radio")
                                label
                                if((edited_user.aktywny === 0) || (edited_user.aktywny === null))
                                    input(type="radio", name="optionsStatus", value="nie_aktywny" checked="")
                                    | Nieaktywny
                                else
                                    input(type="radio", name="optionsStatus", value="nie_aktywny")
                                    | Nieaktywny
                    div(class="form-group")
                        label(for="textArea" class="col-lg-2 control-label") Komentarz admina
                        div(class="col-lg-10")
                            textarea(class="form-control",id="textArea", rows="3",name="komentarz") #{edited_user.komentarz_admin}
                    div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                            button(type="submit",name="rejestruj" class="btn btn-primary") Modyfikuj