//
   Created by Doniu on 2015-05-27.

extends ../layout
block content
    div(class="page-header")
        h3 Zarządzaj użytkownikami
    table(class="table table-striped table-hover")
        thead
            tr
                th Imię
                th Nazwisko
                th E-mail
                th Edycja
                th Usunięcie
            each user in users
                tr
                    td= user.imie
                    td= user.nazwisko
                    td= user.email
                    td: a(href="/edit_user/" + user.id_uzytkownika) Edytuj
                    td: a(href="/delete_user/" + user.id_uzytkownika) Usun
                    